.container {
  padding: 2rem 4rem;
}
.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.container h1 {
  text-align: center;
  color: #2c2e43;
  letter-spacing: 1px;
}
.row {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}

@media (max-width: 1150px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 790px) {
  .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    padding: 2rem 3rem;
  }
}
@media (max-width: 460px) {
  .container {
    padding: 2rem;
  }
}
@media (max-width: 390px) {
  .container {
    padding: 2rem 1rem;
  }
}
