.container {
  padding: 1rem 4rem;
  border-bottom: 2px solid #eee;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-top: 7px;
}
.logo img {
  object-fit: contain;
  width: 220px;
}
.buttons button {
  padding: 12px 16px;
  outline: 0;
  border: 0;
  background-color: #39a2db;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
}
.buttons button:hover {
  background-color: #2f95cc;
}
@media (max-width: 500px) {
  .container {
    padding: 1rem;
  }
}
@media (max-width: 500px) {
  .logo img {
    width: 170px;
  }
}
@media (max-width: 320px) {
  .logo img {
    width: 120px;
  }
  .buttons button {
    padding: 8px 12px;
  }
}
